@model DashboardViewModel

@section Style{
    <link href="~/lib/bootstrap/dist/css/DatePicker.css" rel="stylesheet" />
}

@section Scripts{
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css">
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type='text/javascript'>
        $(document).ready(function () {

            $('.input-daterange').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                calendarWeeks: true,
                clearBtn: true,
                disableTouchKeyboard: true,
                //minDate: ,
                //maxDate: ,
            });

        });</script>
}

<!-- Dashboard -->
<div class="container">
    <form autocomplete="off" asp-controller="Dashboard" asp-action="Search" method="get">
        <div class="row>">
            <h4 class="pt-4">Dashboard</h4>
            <hr>
            <!-- Funds Selection -->
            <h5 class="mt-4">Fund Name</h5>
            <select class="browser-default custom-select" asp-for="SelectedFund" asp-items=Model.Funds>
                <option id="selectFund" selected>Select Funds</option>
            </select>
        </div>
        <div class="row mt-5">
            <!-- Date Range Input - Fund End Date-->
            <div class="input-group input-daterange col-sm-4 ">
                <input type="text" id="fundEndDate" class="form-control text-left " asp-for="SelectedDate">
                <label class="ml-0 form-control-placeholder" id="fundEndDateLabel">Select Date Range</label>
                <span class="fa fa-calendar" id="fa-2" aria-hidden="true"></span>
            </div>
        </div>
        <div class="form-group d-flex  justify-content-left mt-4 mb-4">
            <button type="submit" class="btn btn-invert btn-block-invert">Search</button>
        </div>
    </form>
</div> <!-- Date Range Container-->
<!-- Fund Oveview -->
<div class="container pt-2">
    <div class="row>">
        <h5 class="mb-2">Fund Overview</h5>
        <hr>
    </div>
    <!-- Fund NAV Card -->
    <div class="row mt-4 mb-5">
        <div class="col-xl-3 col-lg-3 col-sm-6 ">
            <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h6 class="card-title text-uppercase mb-2">Fund Size</h6>
                            <span class="h6 font-weight-bold mb-0" id="fundNav">@Model.FundSize</span>
                        </div>
                        <div class="col-auto">
                            <!-- Fund Size Icon -->
                            <i class="fa fa-chart-bar" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bid - Bid Card -->
        <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h6 class="card-title text-uppercase mb-2">Bid-Bid</h6>
                            <span class="h5 font-weight-bold mb-0" id="bidToBid">@Model.BidToBid</span>
                        </div>
                        <div class="col-auto">
                            <!-- Bid-Bid Icon -->
                            <i class="fas fa-chart-pie" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bid - Offer Card -->
        <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h6 class="card-title text-uppercase mb-2">Bid-Offer</h6>
                            <span class="h5 font-weight-bold mb-0" id="bidToOffer">@Model.OfferToBid</span>
                        </div>
                        <div class="col-auto">
                            <!-- Bid - Offer Icon -->
                            <i class="fas fa-users" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Benchmark Card -->
        <div class="col-xl-3 col-lg-3 col-sm-6">
            <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h6 class="card-title text-uppercase mb-2">
                                Benchmark
                            </h6>
                            <span class="h5 font-weight-bold mb-0" id="benchMark">@Model.BenchMark</span>
                        </div>
                        <div class="col-auto">
                            <!-- Benchmark Icon -->
                            <i class="fas fa-percent"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Select option for fundfact sheet-->
    <div class="row>">
        <hr>
        <h5 class="mb-4">Select Fund Factsheet Action</h5>
    </div>
    <!-- Funds Selection -->
    <form asp-controller="Dashboard" asp-action="ExecuteFactSheetAction" method="get" asp-route-fund="@Model.SelectedFund" asp-route-date="@Model.SelectedDate">
        <div class="row">
            <div class="form-check form-check-inline col-xl-3 col-xs-2 ml-2">
                <input class="form-check-input" type="radio" id="inlineRadio1" value="1" asp-for="SelectAction">
                <label class="form-check-label" for="inlineRadio1">Send Factsheet</label>
            </div>
            <div class="form-check form-check-inline col-xl-3 ml-2">
                <input class="form-check-input" type="radio" id="inlineRadio2" value="2" asp-for="SelectAction">
                <label class="form-check-label" for="inlineRadio2">Download Factsheet</label>
            </div>
            <div class="form-check form-check-inline col-xl-3 ml-2">
                <input class="form-check-input" type="radio" id="inlineRadio3" value="3" asp-for="SelectAction">
                <label class="form-check-label" for="inlineRadio3">Preview Factsheet</label>
            </div>
        </div>
        <!-- Go Button -->
        <div class="form-group d-flex justify-content-left mt-5 mb-5">
            <button class="btn btn-success btn-block-success-secondary">Go!</button>
        </div>
    </form>
</div> <!-- Fund Oveview Container-->