
@{
    ViewData["Title"] = "FactSheet";
    Layout = null;
}


@model FundManagementApplication.Models.FundFactSheetDto

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Daily FactSheet</title>
    <link href="~/lib/bootstrap/dist/css/styles.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/FundManager.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            @*Add Date column*@
            data.addColumn('string', 'Year');

            @foreach(var chart in Model.PerformanceCharts.Performances) {
                @*Add chart columns*@
                @:data.addColumn('number', '@chart.Name');
            }

            @*Add empty rows according to Date*@
            data.addRows(@Model.PerformanceCharts.Date.Count);

            @for(int dateNo = 0; dateNo < Model.PerformanceCharts.Date.Count; dateNo++) {

                @*Set date cell*@
                @:data.setCell(@dateNo, 0, '@Model.PerformanceCharts.Date[dateNo]');

                for(int chartNo = 0; chartNo < Model.PerformanceCharts.Performances.Count; chartNo++) {

                    @*Set chart cell*@
                    @:data.setCell(@dateNo, @(chartNo + 1), @Model.PerformanceCharts.Performances[chartNo].CumulativeReturns[dateNo]);

                }
            }

            var options = {
                title: 'ABC Global Fund Performance',
                 curveType: 'function',
                legend: { position: 'bottom' },
                colors: ['#53019A', '#FAA916', '#DB4C40', '#2D82B7', '#4285F4'],
                  hAxis : {
                    format: 'd MMM',
                    textStyle : {
                    fontSize: 8 // or the number you want
                      }
                    
                     }
                    };

                    var chart = new google.visualization.LineChart(document.getElementById('performance_chart'));

                    chart.draw(data, options);

        }

           
       
    </script>


</head>
<body class="bg-secondBackground">
    <div class="FSHeaderContainer">
        <div class="container">
            <div class="row">
                <h3 style="margin-top: 3.75rem; margin-bottom: 1rem;color: white;">
                    @Model.FundDetails.FundName
                </h3>
                <img class="FSLogo ml-auto img-fluid" style="max-width: 22%" src="~/Logo/ABC_LOGO-HORIZONTAL.png">


            </div>
        </div>
    </div>

    <!-- Row 1 -->
    <div class="container">
        <div class="row">
            <h5 class="pt-4">About The Fund</h5>
            <hr class="hrHalf">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>

        </div>
    </div>
    <!-- Row 2 -->
    <div class="container">
        <div class="row">
            <div class=" col-md-4">
                <h5 class="pt-4">Top 10 Holdings </h5>
                <hr class="hrHalf">
                <table class="table ">
                    <thead>
                        <tr>
                            <th></th>
                            <th>%</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var holding in Model.Holdings)
                        {
                            <tr>
                                <td>@holding.Name </td>
                                <td>@holding.Weight </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="col-md-4">
                <h5 class="pt-4">Sector Allocation</h5>
                <hr class="hrHalf">
                <table class="table ">
                    <thead>
                        <tr>
                            <th></th>
                            <th>%</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var sector in Model.Sectors)
                        {
                            <tr>
                                <td>@sector.Name </td>
                                <td>@sector.Percentage </td>
                            </tr>
                        }



                    </tbody>
                </table>
            </div>

            <div class="col-md-4">
                <h5 class="pt-4">Funds Details</h5>
                <hr class="hrHalf">
                <table class="table ">

                    <tbody>
                        <tr>
                            <td>Benchmark: </td>
                            <td>@Model.FundDetails.BenchmarkName</td>
                        </tr>
                        <tr>
                            <td>Fund Manager Name: </td>
                            <td>@Model.FundDetails.FundManagerName</td>

                        </tr>
                        <tr>
                            <td>Fund Size: </td>
                            <td>@Model.FundDetails.FundSize</td>

                        </tr>

                        <tr>
                            <td>Base Currency:</td>
                            <td>@Model.FundDetails.StockCurrency</td>

                        </tr>

                        <tr>
                            <td>Number of Holdings:</td>
                            <td>@Model.FundDetails.TotalHoldings</td>

                        </tr>

                        <tr>
                            <td>Initial Fee:</td>
                            <td>@Model.FundDetails.InitialFee</td>

                        </tr>

                        <tr>
                            <td>Inception Date:</td>
                            <td>@Model.FundDetails.InceptionDate</td>

                        </tr>

                        <tr>
                            <td>Annualize Returns:</td>
                            <td>@Model.FundDetails.AnnualizeReturns</td>

                        </tr>


                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <!-- Row 3 -->
    <div class="container">
        <div class="row">
            <div class="col pl-0">
                <h5 class="pt-4">Performance Overiew </h5>
                <hr class="hrHalf">
                <div class="chart" id="performance_chart" ></div>
            </div>
            <!--
            <div class="col pr-0 ml-5">
                <h5 class="pt-4">Funds Details</h5>
                <hr class="hrHalf">
                <table class="table ">

                    <tbody>
                        <tr>
                            <td>Benchmark: </td>
                            <td>@Model.FundDetails.BenchmarkName</td>
                        </tr>
                        <tr>
                            <td>Fund Manager Name: </td>
                            <td>@Model.FundDetails.FundManagerName</td>

                        </tr>
                        <tr>
                            <td>Fund Size: </td>
                            <td>@Model.FundDetails.FundSize</td>

                        </tr>

                        <tr>
                            <td>Base Currency:</td>
                            <td>@Model.FundDetails.StockCurrency</td>

                        </tr>

                        <tr>
                            <td>Number of Holdings:</td>
                            <td>@Model.FundDetails.TotalHoldings</td>

                        </tr>

                        <tr>
                            <td>Initial Fee:</td>
                            <td>@Model.FundDetails.InitialFee</td>

                        </tr>

                        <tr>
                            <td>Inception Date:</td>
                            <td>@Model.FundDetails.InceptionDate</td>

                        </tr>

                        <tr>
                            <td>Annualize Returns:</td>
                            <td>@Model.FundDetails.AnnualizeReturns</td>

                        </tr>


                    </tbody>
                </table>
            </div>
            -->
        </div>
    </div>
    <!-- Row 4 -->

    <div class="container mb-5">
        <div class="row">
            <h5 class="pt-4">Performance as at 31 May 2020</h5>
            <hr class="hrHalf">
            <table class="table ">
                <thead class="thead-light">
                    <tr>
                        <th>Matrix</th>
                        <th>1 mth</th>
                        <th>3 mth</th>
                        <th>6 mth</th>
                        <th>1 year (p.a)</th>
                        <th>Year To Date</th>
                        <th>Since Launch</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Bid to Bid%</td>
                        <td>@Model.PerformanceTable.BidToBid.OneMonth</td>
                        <td>@Model.PerformanceTable.BidToBid.ThreeMonth</td>
                        <td>@Model.PerformanceTable.BidToBid.SixMonth</td>
                        <td>@Model.PerformanceTable.BidToBid.OneYear</td>
                        <td>@Model.PerformanceTable.BidToBid.YearToDate</td>
                        <td>@Model.PerformanceTable.BidToBid.SinceInception</td>
                    </tr>
                    <tr>
                        <td>Offer to Bid%</td>
                        <td>@Model.PerformanceTable.OfferToBid.OneMonth</td>
                        <td>@Model.PerformanceTable.OfferToBid.ThreeMonth</td>
                        <td>@Model.PerformanceTable.OfferToBid.SixMonth</td>
                        <td>@Model.PerformanceTable.OfferToBid.OneYear</td>
                        <td>@Model.PerformanceTable.OfferToBid.YearToDate</td>
                        <td>@Model.PerformanceTable.OfferToBid.SinceInception</td>
                    </tr>
                    <tr>
                        <td>Benchmark%</td>
                        <td>@Model.PerformanceTable.Benchmark.OneMonth</td>
                        <td>@Model.PerformanceTable.Benchmark.ThreeMonth</td>
                        <td>@Model.PerformanceTable.Benchmark.SixMonth</td>
                        <td>@Model.PerformanceTable.Benchmark.OneYear</td>
                        <td>@Model.PerformanceTable.Benchmark.YearToDate</td>
                        <td>@Model.PerformanceTable.Benchmark.SinceInception</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</body>


</html> 